body {
    background-image: url("http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Akali_9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}